.loader {
    margin-top: 100px;
    height: 150px;
    background-image: url(../img/loadingdice.png);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center;
    animation: rotate 3s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
